
.cadastro{    
    display: flex;
    justify-content: center;  
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: url("/src/assets/img/Banner-login.jpg") no-repeat ;
    background-attachment: fixed;
    background-size: cover;    
}
.cadastrar{
    background-color: #ea910c23;
    padding: 50px;
    border-radius: 5%;
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.300);
    margin: 10%;
}
.cadastrar form{
    display: flex;
    flex-direction: column;
}
.cadastrar input{
    width: 300px;
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #aa56c9;  
}
.cadastrar input:focus{
    box-shadow: 0000;
    outline:0;
}
.cadastrar h3, p{
    text-align: center;
    color: #fff;
}
.cadastrar button{
    font-weight: bold;
    align-items: center;
    margin: 5px;
    margin-left: 30%;
    width: 100px;  
    border-radius: 15px;
    border: 0;
    padding: 5px;
    background-color: #aa56c9;    
    color: #fff;
}
.cadastrar button:hover{
    background-color: #ea910c;
    color: #fff;
}
.midias{
    padding: 10px; 
}
.midias i{
    font-size: 20px; 
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}
@media(max-width: 375px){  

    
.cadastrar{
    background-color: #ea910c23;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.300);
    margin: 12%;
}
}


@media(max-width: 320px){
    
.cadastrar{
    background-color: #ea910c23;
    padding: 0;
    border-radius: 5%;
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.300);
    margin: 10%;
}
}