
.titulo {    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}
.logo{     
    margin-top: 10px;   
    margin-left: 50%;
    width: 60%;
    transition: 0.3s ease;
    cursor: pointer;  
  
}
.logo:hover{
    transform: scale(1.1);
    color: #000;
}
.menu{   
    background-color: #e7be34;
    box-shadow: 0px 0px 10px 4px #aa56c944;  
    height: 70px;   
    padding: 0%;
   
   
   
  
}
.navbar-nav a{ 
    color: rgb(255, 255, 255);   
    text-decoration: none;
    font-weight: bold;  
    transition: 0.3s ease;   
}

.navbar-nav a:hover{
    color: #aa56c9;  
}

 