
.pag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.pag img{
    width: 250px;
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}